@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.ttf?8mc8ao") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ti-"],
[class*=" ti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-image:before {
  content: "\ea5d";
}
.ti-layout:before {
  content: "\ea5e";
}
.ti-ruler-pencil:before {
  content: "\ea5f";
}
.ti-agenda:before {
  content: "\e900";
}
.ti-alarm-clock:before {
  content: "\e901";
}
.ti-alert:before {
  content: "\e902";
}
.ti-align-center:before {
  content: "\e903";
}
.ti-align-justify:before {
  content: "\e904";
}
.ti-align-left:before {
  content: "\e905";
}
.ti-align-right:before {
  content: "\e906";
}
.ti-anchor:before {
  content: "\e907";
}
.ti-android:before {
  content: "\e908";
}
.ti-angle-double-down:before {
  content: "\e909";
}
.ti-angle-double-left:before {
  content: "\e90a";
}
.ti-angle-double-right:before {
  content: "\e90b";
}
.ti-angle-double-up:before {
  content: "\e90c";
}
.ti-angle-down:before {
  content: "\e90d";
}
.ti-angle-left:before {
  content: "\e90e";
}
.ti-angle-right:before {
  content: "\e90f";
}
.ti-angle-up:before {
  content: "\e910";
}
.ti-announcement:before {
  content: "\e911";
}
.ti-apple:before {
  content: "\e912";
}
.ti-archive:before {
  content: "\e913";
}
.ti-arrow:before {
  content: "\e914";
}
.ti-arrow-circle-down:before {
  content: "\e915";
}
.ti-arrow-circle-left:before {
  content: "\e916";
}
.ti-arrow-circle-right:before {
  content: "\e917";
}
.ti-arrow-circle-up:before {
  content: "\e918";
}
.ti-arrow-down:before {
  content: "\e919";
}
.ti-arrow-left:before {
  content: "\e91a";
}
.ti-arrow-right:before {
  content: "\e91b";
}
.ti-arrows-corner:before {
  content: "\e91c";
}
.ti-arrows-horizontal:before {
  content: "\e91d";
}
.ti-arrows-vertical:before {
  content: "\e91e";
}
.ti-arrow-top-left:before {
  content: "\e91f";
}
.ti-arrow-top-right:before {
  content: "\e920";
}
.ti-arrow-up:before {
  content: "\e921";
}
.ti-back-left:before {
  content: "\e922";
}
.ti-back-right:before {
  content: "\e923";
}
.ti-bag:before {
  content: "\e924";
}
.ti-bar-chart:before {
  content: "\e925";
}
.ti-bar-chart-alt:before {
  content: "\e926";
}
.ti-basketball:before {
  content: "\e927";
}
.ti-bell:before {
  content: "\e928";
}
.ti-blackboard:before {
  content: "\e929";
}
.ti-bolt:before {
  content: "\e92a";
}
.ti-bolt-alt:before {
  content: "\e92b";
}
.ti-book:before {
  content: "\e92c";
}
.ti-bookmark:before {
  content: "\e92d";
}
.ti-bookmark-alt:before {
  content: "\e92e";
}
.ti-briefcase:before {
  content: "\e92f";
}
.ti-brush:before {
  content: "\e930";
}
.ti-brush-alt:before {
  content: "\e931";
}
.ti-calendar:before {
  content: "\e932";
}
.ti-camera:before {
  content: "\e933";
}
.ti-car:before {
  content: "\e934";
}
.ti-check:before {
  content: "\e935";
}
.ti-check-box:before {
  content: "\e936";
}
.ti-clip:before {
  content: "\e937";
}
.ti-clipboard:before {
  content: "\e938";
}
.ti-close:before {
  content: "\e939";
}
.ti-cloud:before {
  content: "\e93a";
}
.ti-cloud-down:before {
  content: "\e93b";
}
.ti-cloud-up:before {
  content: "\e93c";
}
.ti-comment:before {
  content: "\e93d";
}
.ti-comment-alt:before {
  content: "\e93e";
}
.ti-comments:before {
  content: "\e93f";
}
.ti-comments-smiley:before {
  content: "\e940";
}
.ti-control-backward:before {
  content: "\e941";
}
.ti-control-eject:before {
  content: "\e942";
}
.ti-control-forward:before {
  content: "\e943";
}
.ti-control-pause:before {
  content: "\e944";
}
.ti-control-play:before {
  content: "\e945";
}
.ti-control-record:before {
  content: "\e946";
}
.ti-control-shuffle:before {
  content: "\e947";
}
.ti-control-skip-backward:before {
  content: "\e948";
}
.ti-control-skip-forward:before {
  content: "\e949";
}
.ti-control-stop:before {
  content: "\e94a";
}
.ti-credit-card:before {
  content: "\e94b";
}
.ti-crown:before {
  content: "\e94c";
}
.ti-css3:before {
  content: "\e94d";
}
.ti-cup:before {
  content: "\e94e";
}
.ti-cut:before {
  content: "\e94f";
}
.ti-dashboard:before {
  content: "\e950";
}
.ti-desktop:before {
  content: "\e951";
}
.ti-direction:before {
  content: "\e952";
}
.ti-direction-alt:before {
  content: "\e953";
}
.ti-download:before {
  content: "\e954";
}
.ti-dribbble:before {
  content: "\e955";
}
.ti-dropbox:before {
  content: "\e956";
}
.ti-dropbox-alt:before {
  content: "\e957";
}
.ti-drupal:before {
  content: "\e958";
}
.ti-email:before {
  content: "\e959";
}
.ti-envelope:before {
  content: "\e95a";
}
.ti-eraser:before {
  content: "\e95b";
}
.ti-exchange-vertical:before {
  content: "\e95c";
}
.ti-export:before {
  content: "\e95d";
}
.ti-eye:before {
  content: "\e95e";
}
.ti-facebook:before {
  content: "\e95f";
}
.ti-face-sad:before {
  content: "\e960";
}
.ti-face-smile:before {
  content: "\e961";
}
.ti-file:before {
  content: "\e962";
}
.ti-files:before {
  content: "\e963";
}
.ti-filter:before {
  content: "\e964";
}
.ti-flag:before {
  content: "\e965";
}
.ti-flag-alt:before {
  content: "\e966";
}
.ti-flag-alt-2:before {
  content: "\e967";
}
.ti-flickr:before {
  content: "\e968";
}
.ti-flickr-alt:before {
  content: "\e969";
}
.ti-folder:before {
  content: "\e96a";
}
.ti-fullscreen:before {
  content: "\e96b";
}
.ti-gallery:before {
  content: "\e96c";
}
.ti-game:before {
  content: "\e96d";
}
.ti-gift:before {
  content: "\e96e";
}
.ti-github:before {
  content: "\e96f";
}
.ti-google:before {
  content: "\e970";
}
.ti-hand-drag:before {
  content: "\e971";
}
.ti-hand-open:before {
  content: "\e972";
}
.ti-hand-point-down:before {
  content: "\e973";
}
.ti-hand-point-left:before {
  content: "\e974";
}
.ti-hand-point-right:before {
  content: "\e975";
}
.ti-hand-point-up:before {
  content: "\e976";
}
.ti-hand-stop:before {
  content: "\e977";
}
.ti-harddrive:before {
  content: "\e978";
}
.ti-harddrives:before {
  content: "\e979";
}
.ti-headphone:before {
  content: "\e97a";
}
.ti-headphone-alt:before {
  content: "\e97b";
}
.ti-heart:before {
  content: "\e97c";
}
.ti-heart-broken:before {
  content: "\e97d";
}
.ti-help:before {
  content: "\e97e";
}
.ti-help-alt:before {
  content: "\e97f";
}
.ti-home:before {
  content: "\e980";
}
.ti-html5:before {
  content: "\e981";
}
.ti-hummer:before {
  content: "\e982";
}
.ti-id-badge:before {
  content: "\e983";
}
.ti-import:before {
  content: "\e984";
}
.ti-infinite:before {
  content: "\e985";
}
.ti-info:before {
  content: "\e986";
}
.ti-info-alt:before {
  content: "\e987";
}
.ti-ink-pen:before {
  content: "\e988";
}
.ti-instagram:before {
  content: "\e989";
}
.ti-Italic:before {
  content: "\e98a";
}
.ti-joomla:before {
  content: "\e98b";
}
.ti-jsfiddle:before {
  content: "\e98c";
}
.ti-key:before {
  content: "\e98d";
}
.ti-layers:before {
  content: "\e98e";
}
.ti-layers-alt:before {
  content: "\e98f";
}
.ti-layout-accordion-list:before {
  content: "\e990";
}
.ti-layout-accordion-merged:before {
  content: "\e991";
}
.ti-layout-accordion-separated:before {
  content: "\e992";
}
.ti-layout-column2:before {
  content: "\e993";
}
.ti-layout-column2-alt:before {
  content: "\e994";
}
.ti-layout-column3:before {
  content: "\e995";
}
.ti-layout-column3-alt:before {
  content: "\e996";
}
.ti-layout-column4:before {
  content: "\e997";
}
.ti-layout-column4-alt:before {
  content: "\e998";
}
.ti-layout-cta-btn-left:before {
  content: "\e999";
}
.ti-layout-cta-btn-right:before {
  content: "\e99a";
}
.ti-layout-cta-center:before {
  content: "\e99b";
}
.ti-layout-cta-left:before {
  content: "\e99c";
}
.ti-layout-cta-right:before {
  content: "\e99d";
}
.ti-layout-grid2:before {
  content: "\e99e";
}
.ti-layout-grid2-alt:before {
  content: "\e99f";
}
.ti-layout-grid2-thumb:before {
  content: "\e9a0";
}
.ti-layout-grid3:before {
  content: "\e9a1";
}
.ti-layout-grid3-alt:before {
  content: "\e9a2";
}
.ti-layout-grid4:before {
  content: "\e9a3";
}
.ti-layout-grid4-alt:before {
  content: "\e9a4";
}
.ti-layout-line-solid:before {
  content: "\e9a5";
}
.ti-layout-list-large-image:before {
  content: "\e9a6";
}
.ti-layout-list-post:before {
  content: "\e9a7";
}
.ti-layout-list-thumb:before {
  content: "\e9a8";
}
.ti-layout-list-thumb-alt:before {
  content: "\e9a9";
}
.ti-layout-media-center:before {
  content: "\e9aa";
}
.ti-layout-media-center-alt:before {
  content: "\e9ab";
}
.ti-layout-media-left:before {
  content: "\e9ac";
}
.ti-layout-media-left-alt:before {
  content: "\e9ad";
}
.ti-layout-media-overlay:before {
  content: "\e9ae";
}
.ti-layout-media-overlay-alt:before {
  content: "\e9af";
}
.ti-layout-media-overlay-alt-2:before {
  content: "\e9b0";
}
.ti-layout-media-right:before {
  content: "\e9b1";
}
.ti-layout-media-right-alt:before {
  content: "\e9b2";
}
.ti-layout-menu:before {
  content: "\e9b3";
}
.ti-layout-menu-full:before {
  content: "\e9b4";
}
.ti-layout-menu-separated:before {
  content: "\e9b5";
}
.ti-layout-menu-v:before {
  content: "\e9b6";
}
.ti-layout-placeholder:before {
  content: "\e9b7";
}
.ti-layout-sidebar-2:before {
  content: "\e9b8";
}
.ti-layout-sidebar-left:before {
  content: "\e9b9";
}
.ti-layout-sidebar-none:before {
  content: "\e9ba";
}
.ti-layout-sidebar-right:before {
  content: "\e9bb";
}
.ti-layout-slider:before {
  content: "\e9bc";
}
.ti-layout-slider-alt:before {
  content: "\e9bd";
}
.ti-layout-tab:before {
  content: "\e9be";
}
.ti-layout-tab-min:before {
  content: "\e9bf";
}
.ti-layout-tab-v:before {
  content: "\e9c0";
}
.ti-layout-tab-window:before {
  content: "\e9c1";
}
.ti-layout-width-default:before {
  content: "\e9c2";
}
.ti-layout-width-default-alt:before {
  content: "\e9c3";
}
.ti-layout-width-full:before {
  content: "\e9c4";
}
.ti-light-bulb:before {
  content: "\e9c5";
}
.ti-line-dashed:before {
  content: "\e9c6";
}
.ti-line-dotted:before {
  content: "\e9c7";
}
.ti-line-double:before {
  content: "\e9c8";
}
.ti-link:before {
  content: "\e9c9";
}
.ti-linkedin:before {
  content: "\e9ca";
}
.ti-linux:before {
  content: "\e9cb";
}
.ti-list:before {
  content: "\e9cc";
}
.ti-list-ol:before {
  content: "\e9cd";
}
.ti-location-arrow:before {
  content: "\e9ce";
}
.ti-location-pin:before {
  content: "\e9cf";
}
.ti-lock:before {
  content: "\e9d0";
}
.ti-loop:before {
  content: "\e9d1";
}
.ti-magnet:before {
  content: "\e9d2";
}
.ti-map:before {
  content: "\e9d3";
}
.ti-map-alt:before {
  content: "\e9d4";
}
.ti-marker:before {
  content: "\e9d5";
}
.ti-marker-alt:before {
  content: "\e9d6";
}
.ti-medall:before {
  content: "\e9d7";
}
.ti-medall-alt:before {
  content: "\e9d8";
}
.ti-menu:before {
  content: "\e9d9";
}
.ti-menu-alt:before {
  content: "\e9da";
}
.ti-microphone:before {
  content: "\e9db";
}
.ti-microphone-alt:before {
  content: "\e9dc";
}
.ti-microsoft:before {
  content: "\e9dd";
}
.ti-microsoft-alt:before {
  content: "\e9de";
}
.ti-minus:before {
  content: "\e9df";
}
.ti-mobile:before {
  content: "\e9e0";
}
.ti-money:before {
  content: "\e9e1";
}
.ti-more:before {
  content: "\e9e2";
}
.ti-more-alt:before {
  content: "\e9e3";
}
.ti-mouse:before {
  content: "\e9e4";
}
.ti-mouse-alt:before {
  content: "\e9e5";
}
.ti-music:before {
  content: "\e9e6";
}
.ti-music-alt:before {
  content: "\e9e7";
}
.ti-na:before {
  content: "\e9e8";
}
.ti-new-window:before {
  content: "\e9e9";
}
.ti-notepad:before {
  content: "\e9ea";
}
.ti-package:before {
  content: "\e9eb";
}
.ti-paint-bucket:before {
  content: "\e9ec";
}
.ti-paint-roller:before {
  content: "\e9ed";
}
.ti-palette:before {
  content: "\e9ee";
}
.ti-panel:before {
  content: "\e9ef";
}
.ti-paragraph:before {
  content: "\e9f0";
}
.ti-pencil:before {
  content: "\e9f1";
}
.ti-pencil-alt:before {
  content: "\e9f2";
}
.ti-pencil-alt2:before {
  content: "\e9f3";
}
.ti-pie-chart:before {
  content: "\e9f4";
}
.ti-pin:before {
  content: "\e9f5";
}
.ti-pin2:before {
  content: "\e9f6";
}
.ti-pin-alt:before {
  content: "\e9f7";
}
.ti-pinterest:before {
  content: "\e9f8";
}
.ti-pinterest-alt:before {
  content: "\e9f9";
}
.ti-plug:before {
  content: "\e9fa";
}
.ti-plus:before {
  content: "\e9fb";
}
.ti-power-off:before {
  content: "\e9fc";
}
.ti-printer:before {
  content: "\e9fd";
}
.ti-pulse:before {
  content: "\e9fe";
}
.ti-quote-left:before {
  content: "\e9ff";
}
.ti-quote-right:before {
  content: "\ea00";
}
.ti-receipt:before {
  content: "\ea01";
}
.ti-reddit:before {
  content: "\ea02";
}
.ti-reload:before {
  content: "\ea03";
}
.ti-rocket:before {
  content: "\ea04";
}
.ti-rss:before {
  content: "\ea05";
}
.ti-rss-alt:before {
  content: "\ea06";
}
.ti-ruler:before {
  content: "\ea07";
}
.ti-ruler-alt:before {
  content: "\ea08";
}
.ti-ruler-alt-2:before {
  content: "\ea09";
}
.ti-save:before {
  content: "\ea0a";
}
.ti-save-alt:before {
  content: "\ea0b";
}
.ti-search:before {
  content: "\ea0c";
}
.ti-server:before {
  content: "\ea0d";
}
.ti-settings:before {
  content: "\ea0e";
}
.ti-share:before {
  content: "\ea0f";
}
.ti-share-alt:before {
  content: "\ea10";
}
.ti-sharethis:before {
  content: "\ea11";
}
.ti-sharethis-alt:before {
  content: "\ea12";
}
.ti-shield:before {
  content: "\ea13";
}
.ti-shift-left:before {
  content: "\ea14";
}
.ti-shift-left-alt:before {
  content: "\ea15";
}
.ti-shift-right:before {
  content: "\ea16";
}
.ti-shift-right-alt:before {
  content: "\ea17";
}
.ti-shine:before {
  content: "\ea18";
}
.ti-shopping-cart:before {
  content: "\ea19";
}
.ti-shopping-cart-full:before {
  content: "\ea1a";
}
.ti-shortcode:before {
  content: "\ea1b";
}
.ti-signal:before {
  content: "\ea1c";
}
.ti-skype:before {
  content: "\ea1d";
}
.ti-slice:before {
  content: "\ea1e";
}
.ti-smallcap:before {
  content: "\ea1f";
}
.ti-soundcloud:before {
  content: "\ea20";
}
.ti-split-h:before {
  content: "\ea21";
}
.ti-split-v:before {
  content: "\ea22";
}
.ti-split-v-alt:before {
  content: "\ea23";
}
.ti-spray:before {
  content: "\ea24";
}
.ti-stack-overflow:before {
  content: "\ea25";
}
.ti-stamp:before {
  content: "\ea26";
}
.ti-star:before {
  content: "\ea27";
}
.ti-stats-down:before {
  content: "\ea28";
}
.ti-stats-up:before {
  content: "\ea29";
}
.ti-support:before {
  content: "\ea2a";
}
.ti-tablet:before {
  content: "\ea2b";
}
.ti-tag:before {
  content: "\ea2c";
}
.ti-target:before {
  content: "\ea2d";
}
.ti-text:before {
  content: "\ea2e";
}
.ti-themify-favicon:before {
  content: "\ea2f";
}
.ti-themify-favti-alt:before {
  content: "\ea30";
}
.ti-themify-logo:before {
  content: "\ea31";
}
.ti-thought:before {
  content: "\ea32";
}
.ti-thumb-down:before {
  content: "\ea33";
}
.ti-thumb-up:before {
  content: "\ea34";
}
.ti-ticket:before {
  content: "\ea35";
}
.ti-time:before {
  content: "\ea36";
}
.ti-timer:before {
  content: "\ea37";
}
.ti-trash:before {
  content: "\ea38";
}
.ti-trello:before {
  content: "\ea39";
}
.ti-truck:before {
  content: "\ea3a";
}
.ti-tumblr:before {
  content: "\ea3b";
}
.ti-tumblr-alt:before {
  content: "\ea3c";
}
.ti-twitter:before {
  content: "\ea3d";
}
.ti-twitter-alt:before {
  content: "\ea3e";
}
.ti-underline:before {
  content: "\ea3f";
}
.ti-unlink:before {
  content: "\ea40";
}
.ti-unlock:before {
  content: "\ea41";
}
.ti-upload:before {
  content: "\ea42";
}
.ti-uppercase:before {
  content: "\ea43";
}
.ti-user:before {
  content: "\ea44";
}
.ti-vector:before {
  content: "\ea45";
}
.ti-video-camera:before {
  content: "\ea46";
}
.ti-video-clapper:before {
  content: "\ea47";
}
.ti-view-grid:before {
  content: "\ea48";
}
.ti-view-list:before {
  content: "\ea49";
}
.ti-view-list-alt:before {
  content: "\ea4a";
}
.ti-vimeo:before {
  content: "\ea4b";
}
.ti-vimeo-alt:before {
  content: "\ea4c";
}
.ti-volume:before {
  content: "\ea4d";
}
.ti-wallet:before {
  content: "\ea4e";
}
.ti-wand:before {
  content: "\ea4f";
}
.ti-wheelchair:before {
  content: "\ea50";
}
.ti-widget:before {
  content: "\ea51";
}
.ti-widget-alt:before {
  content: "\ea52";
}
.ti-widgetized:before {
  content: "\ea53";
}
.ti-window:before {
  content: "\ea54";
}
.ti-wordpress:before {
  content: "\ea55";
}
.ti-world:before {
  content: "\ea56";
}
.ti-write:before {
  content: "\ea57";
}
.ti-yahoo:before {
  content: "\ea58";
}
.ti-youtube:before {
  content: "\ea59";
}
.ti-zip:before {
  content: "\ea5a";
}
.ti-zoom-in:before {
  content: "\ea5b";
}
.ti-zoom-out:before {
  content: "\ea5c";
}
